<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>LONGFA KEY ACTIVE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="/css/app.css">
</head>
    <body>
        <div class="app">
            {{> header}}
            <div class="container ">
                {{{body}}}
            </div>
            {{> footer}}
        </div>
        <script src="/libs/js/jquery-3.7.1.min.js"></script>
        <script src="/libs/bootstrap/js/popper.min.js" ></script>
        <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>